* {
  margin: 0;
  padding: 0; }

.container {
  width: 100%; }
  .container .searchbar_container {
    width: 100%;
    height: 40vh;
    background: url("./img/bg.jpg");
    border-bottom: 3px solid red; }
    .container .searchbar_container .form_search {
      width: 100%;
      height: 40vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
      background-size: cover;
      margin-bottom: 25px; }
      .container .searchbar_container .form_search .search_bar {
        width: 50%;
        height: 45px;
        border-radius: 10px;
        border: 4px solid #fafafa;
        font-size: 2rem;
        text-align: center;
        transition: all 0.5s ease; }
      .container .searchbar_container .form_search .search_bar:focus {
        border: 4px solid red; }
      .container .searchbar_container .form_search .btn_search {
        margin-top: 20px;
        padding: 15px 30px;
        border: 1px solid red;
        border-radius: 10px;
        background: white;
        color: red;
        transition: all 0.3s ease;
        text-transform: uppercase; }
      .container .searchbar_container .form_search .btn_search:hover {
        color: white;
        background: red; }
  .container .comics {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; }
    .container .comics .card {
      width: 100%;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #fafafa;
      box-shadow: 0 2px 3px #aaa;
      background: #eee; }
      .container .comics .card img {
        width: 50%;
        margin: 10px; }
      .container .comics .card .info {
        width: 50%; }
        .container .comics .card .info .title {
          display: block;
          margin-bottom: 15px; }
